<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
                <form 
                    (ngSubmit)="onSubmit( registroForm )"
                    #registroForm="ngForm"
                    class="login100-form validate-form flex-sb flex-w">
                    <h1 class="text-center mb-2">
                        Crear nueva cuenta
                    </h1>
                     <span *ngIf="registroForm.submitted && registroForm.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                    <div class=" form-group">
                        <input class="form-control" 
                               type="email" 
                               name="email" 
                               [(ngModel)]="usuario.email"
                               required
                               email
                               placeholder="Email">
    
                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="registroForm.submitted && registroForm.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span> 
                    <div class=" form-group">
                        <input class="form-control" 
                               type="text" 
                               name="nombre" 
                               [(ngModel)]="usuario.name"
                               required
                               minlength="6"
                               placeholder="Nombre y apellidos">
    
                        <span class="focus-input100"></span>
                    </div>
                    
                    <span *ngIf="registroForm.submitted && registroForm.controls['password'].errors" class="text-danger animated fadeIn">La contraseña debe de ser más de 6 letras</span> 
                    <div class=" form-group" data-validate = "Password is required">
                        <input class="form-control"
                               type="password" 
                               name="password"
                               required
                               minlength="6" 
                               [(ngModel)]="usuario.password"
                               placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="form-group form-check p-0">
                            <div class="row">
                                <div class="col">
                                    <input [(ngModel)]="recordarme" class="input-checkbox100 mr-2" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Recordar mi usuario
                                    </label>
                                </div>
                                <div class="col text-right">
                                    <a routerLink="/login" class="txt1">
                                        ¿Ya tienes cuenta? / Ingresar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="container-login100-form-btn m-t-17">
                        <button class="btn btn-primary" type="submit">
                            Crear cuenta
                        </button>
                    </div>
    
                </form>
        </div>
    </div>
</div>