<div class="position-fixed w-100 h-100 fixed-top d-flex justify-content-center align-items-center bg-light">
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h2 class="text-primary">Cargando...</h2>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>

</div>