<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>Ingresar glucomentria diaria</h1>
            <form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate" class="mb-5">
                <div class="form-group">
                  <label for="valor">Valor</label>
                  <input type="number" class="form-control" id="valor" placeholder="Ingrese valor" formControlName="valor">
                </div>
                <div class="form-group">
                  <label for="fecha">Fecha</label>
                  <input type="date" class="form-control" id="fecha" placeholder="Fecha" formControlName="fecha">
                </div>
                <div class="form-group">
                    <label for="horario">Horario</label>
                    <select id="inputState" class="form-control" formControlName="horario">
                        <option value="Ayunas">Ayunas</option>
                        <option value="2 horas despues del desayuno">2 horas despues del desayuno</option>
                        <option value="Antes del Almuerzo">Antes del Almuerzo</option>
                        <option value="2 horas despues del Almuerzo">2 horas despues del Almuerzo</option>
                        <option value="Antes de la comida">Antes de la comida</option>
                        <option value="2 horas despues de la comida">2 horas despues de la comida</option>
                        <option value="3 de la mañana">3 de la mañana</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
              
              <div class="alert alert-success alert-dismissible fade show mt-5" role="alert" *ngIf="save">
                <strong>Excelente!!!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
        </div>
    </div>